.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.fondo {
  background-image: url('./assets/background.jpg'); 
  background-repeat: repeat-y;
  background-size: cover;
}

h1{
  color: aliceblue;
}

span{
  color: aquamarine
}

th{
  color: antiquewhite
}

td{
  color: antiquewhite;
}

button{
  width: 30%;
}